* {
  margin: 0;
  font-family: 'Creepster', cursive;
  
}
body{
  background-color: black;
  margin: 0px;
}
.cabecera {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 5em;
}
.menu {
  height: 3em;
  color: rgb(182, 7, 7);
  border-style: dashed;
  border-width: 1px;
  border-top: none;
  border-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
.cabecera div:nth-child(2) {
  height: 2em;
}
.cabecera div:nth-child(6) {
    height: 2em;
}

.logo {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-image: url(patita2.png);
  background-position: top;
  background-size: 4.5em;
  background-repeat: no-repeat;
  color: rgb(182, 7, 7);
  -webkit-text-stroke-color: black;
  width: 15%;
}

.contenedor{
  background-image: url(fondo2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center ;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-fill-color: white;
  display: flex;
  flex-direction: row-reverse;
  font-weight: bold;
  height: 40em;
  margin-bottom: 0px;
 
}
div{
  margin-bottom: 6px;
  text-align: center;
}
div.lleno{
  font-size: 35px;
  margin-top: 2em;
  margin-right: 3em;;
  display: flex;
  flex-direction: column;
}

.icono{
  display: flex;
  justify-content: center;
}
.icono>img{
  width: 16%;
  border-radius: 10px;
}
.footer{
  height: 4em;
  background-color: black;
  color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}
