#negrita{
    display: block;
}
.linea{
    display: inline;
}
.lista{
   margin-left: 2%;
   display: list-item;
   list-style-type: square;
}
.none{
    display: none;
}
a.bloqueenlinea{
  display: inline-block;
  width: 110px;
  height: 110px;
  
}
.table{
    display: table-cell;
}
.desplazado{
position: relative;
top: 20px;
right: 20px;
}
.hipervinculo{
    position: static;
}
