.primero {
	background-color: yellow; 
}
.segundo {
	background-color: violet;	
}
.tercero {
	background-color: orange; 
}
.cuarto {
	background-color: green; 
}
.animacion{
	display: none;
}